@font-face {
  font-family: "iconfont"; /* Project id 2682748 */
  src: url('/font/iconfont.woff2?t=1629037670136') format('woff2'),
       url('/font/iconfont.woff?t=1629037670136') format('woff'),
       url('/font/iconfont.ttf?t=1629037670136') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e639";
}

.icon-left:before {
  content: "\e611";
}

.icon-right:before {
  content: "\e613";
}

.icon-card:before {
  content: "\e662";
}

.icon-note:before {
  content: "\e73a";
}

.icon-warning:before {
  content: "\e627";
}

.icon-fadeback:before {
  content: "\e616";
}

.icon-errors:before {
  content: "\e652";
}

.icon-major:before {
  content: "\e61c";
}

.icon-arrow:before {
  content: "\e629";
}

.icon-school:before {
  content: "\e634";
}

.icon-collection:before {
  content: "\e656";
}

.icon-user:before {
  content: "\e636";
}

.icon-zhuye:before {
  content: "\e83a";
}

.icon-keben:before {
  content: "\e604";
}

.icon-record:before {
  content: "\e628";
}

.icon-fanhui:before {
  content: "\e612";
}

.icon-sequence:before {
  content: "\e66c";
}

.icon-loop:before {
  content: "\e66d";
}

.icon-favorite:before {
  content: "\e655";
}

.icon-not-favorite:before {
  content: "\e603";
}

.icon-gedanbiaoqian:before {
  content: "\e6ba";
}

.icon-random:before {
  content: "\e6c4";
}

.icon-next:before {
  content: "\e6ae";
}

.icon-play:before {
  content: "\e6af";
}

.icon-stop:before {
  content: "\e6b0";
}

.icon-pause:before {
  content: "\e6b1";
}

.icon-yintian:before {
  content: "\e6b9";
}

.icon-fenxiangyemian:before {
  content: "\e6bb";
}

.icon-fuzhilianjie:before {
  content: "\e6bc";
}

.icon-paihangbanggequ:before {
  content: "\e6bd";
}

.icon-kuaijin:before {
  content: "\e6be";
}

.icon-bofanggedan:before {
  content: "\e6c0";
}

.icon-yinlechuang:before {
  content: "\e6c2";
}

.icon-daotui:before {
  content: "\e6c3";
}

.icon-gedan:before {
  content: "\e6c5";
}

.icon-ziyuan:before {
  content: "\e61b";
}

.icon-prev:before {
  content: "\e6bf";
}

